*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(images/pexels-george-dolgikh-1303098.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    font-family: 'My Font', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1
{
    text-align: center;
    font-size: 50px;
    margin-top: 160px;
    margin-bottom: 50px;
}

.container
{
    text-align: center;
}
/* Hide the default radio button */
.choosename input[type="radio"] {
    display: none;
    width: 100px;
    margin: 0 auto;
} 

.choosename {
    background-color: rgba(203, 59, 59, 0.722);
    color: rgb(71, 71, 71);
    font-size: 40px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5%;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.choosename:hover{
    cursor: pointer;
    background-color: rgba(203, 59, 59, 0.864);
    color: white;
}


.choosename.selected {
    background-color: rgb(209, 33, 33);
    color: white;
}
button {
    background-color: #25c151da; /* Green */
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: rgb(224, 224, 224);
    padding: 20px 80px 20px 80px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

button:hover{
    background-color: #1ed351; /* Green */
    color: white;
}



.bunka
{
    margin: auto;
}

.generator
{
    text-align: center;
    margin-top: 23%;
    font-size: 390%;
}
form
{
    display: block;
    text-align: center;
}

button:hover{
    background-color: #1ed351; /* Green */
    color: white;
}



.bunka
{
    display: flex;
    justify-content: center;
}

.generator
{
    text-align: center;
    margin-top: 23%;
    font-size: 390%;
}

.your-style {
    font-family: 'My Font';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'My Font';
    src: url('font/MyFontRegular.ttf') format('woff2'),
        url('font/MyFontRegular.woff') format('woff'),
        url('font/MyFontRegular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}