*
{
    margin: 0;
    padding: 0;
}
h1
{
    text-align: center;
}

.container
{
    text-align: center;
}

.choosename input[type="radio"] {
    display: none;
} 

.choosename {
    background-color: red;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.choosename.selected {
    background-color: blue;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 51px;
}
