@font-face {
    font-family: 'My Font';
    src: url('MyFontRegular.woff2') format('woff2'),
        url('MyFontRegular.woff') format('woff'),
        url('MyFontRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

